*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: rgb(35, 183, 183);
    color: white;
    font-size: large;
    width: 100%;
    text-align: center;
    font-size: 4em;
    padding: 20px;
    position: relative;
}
.img{
    margin: 4em;
    

}
 .img .pic1{

    position: absolute;
    font-size: large;
    left: 22em;
    width: 8em;
    height: 8em;
    border:10px solid rgb(35, 183, 183);
}
 .pic2{

    position: absolute;
    font-size: large;
    left: 34em;
    width: 8em;
    height: 8em;
    display: inline;
    border:10px dashed rgb(35, 183, 183);
}
 .pic3{

    position: absolute;
    font-size: large;
    left: 46em;
    width: 8em;
    height: 8em;
    display: inline;
    border:10px dotted rgb(35, 183, 183);
}

.pic4{

    position: absolute;
    font-size: large;
    margin: 11em;
    left: 18em;
    width: 8em;
    height: 8em;
    display: inline;
    border:10px inset rgb(35, 183, 183);
}
.pic5{

    position: absolute;
    font-size: large;
    margin: 11em;
    left: 30em;
    width: 8em;
    height: 8em;
    display: inline;
    border:12px double rgb(35, 183, 183);
    border:10px outset rgb(35, 183, 183);

}
.pic6{

    position: absolute;
    font-size: large;
    margin: 22em;
    left: 7em;
    width: 8em;
    height: 8em;
    display: inline;
    border:10px double rgb(35, 183, 183);
}
.pic7{

    position: absolute;
    font-size: large;
    margin: 22em;
    left: 19em;
    width: 8em;
    height: 8em;
    display: inline;
    border:10px  rgb(35, 183, 183);
}
div.para{
    position: absolute;
    font-size: large;
    margin: 34em;
    left: -19em;
    width: 41em;
    height: 15em;
    display:inline;
    border-top: 10px solid green;
    border-left: 10px solid red;
    border-bottom: 10px solid blue;
    border-right: 10px solid rgb(234, 45, 108);
    

}